@model Department

@{
    ViewData["Title"] = "Create";
}

<h1>Create new Department</h1>
<br />
<br />
<form asp-action="Create">
    <partial name="PartialViews/CreateEditDepartmentPartial"></partial>
    <input type="submit" value="Create" class="btn btn-primary mt-5" />
    @* لو دوست لحد دلوقتي على سامبيت مش هيعمل اي حاجه ، لازم نقوله في الاكشن بتاع الفورم فوق لان السامبيت بيروح ينفذ الاكشن بتاع الفورم*@
    <a asp-action="Index" class="btn btn-light">Back To List </a>
</form>


